POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_NAME=POSTGRES_NAME
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
PGDATA=/var/lib/postgresql/data

SECRET_KEY=SECRET_KEY

STRIPE_SECRET_KEY=STRIPE_SECRET_KEY

SITE_ID=1
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER='your-email@gmail.com'
EMAIL_HOST_PASSWORD='your-email-password'
